[submodule "dependencies/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "dependencies/libtins"]
	path = external/libtins
	url = https://github.com/mfontanini/libtins.git
